<div class="flex min-h-screen flex-col bg-white dark:bg-neutral-950">
  <a
    href="#main-content"
    class="sr-only focus:not-sr-only focus:absolute focus:left-2 focus:top-2 focus:z-50 focus:rounded-lg focus:bg-brand focus:px-4 focus:py-2 focus:font-medium focus:text-white"
  >
    Pular para o conteúdo
  </a>
  @if (showStoreChrome()) {
    <app-header />
  }
  <main id="main-content" tabindex="-1" class="flex-1">
    <router-outlet />
  </main>
  @if (showStoreChrome()) {
    <app-footer />
  }
</div>
@if (showStoreChrome()) {
  <app-whatsapp-button />
}
